@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */
#header-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1, h2, h3, h4, #menu li{
    font-family: 'Lora', serif;
}

#logo {
    font-family: 'Allura', cursive;
    color: #252522;
    font-size: 3rem;
    float: left;
}

/** header navigation links **/
#menu {
    font-size: 1rem;
    letter-spacing: .1rem;
    float: right;
    padding-right: 20px;
}

#menu, #logo {
    line-height: 75px;
}

#menu ul {
  display: flex;
  gap: 1.5rem;
}

#menu li {
    list-style-type: none;
}

#menu a, #menu a:visited{
    color: inherit;
}

#menu a:hover, .active{
    font-weight: 600;
}

a {
    text-decoration: none;
}

.active {
    border-bottom: 1px solid #818080;
}

/** hero image section **/
#hero-outer {
    clear: both;
    height: 100%;
}

#hero-image {
    height: 100%;
    background: url('../images/pexels-marcus-aurelius.jpg') no-repeat center center;
}

/** Club Ethos **/
.ethos {
    display: flex;
    margin: 100px auto;
    justify-content: center;
    gap: 50px;
}

.card {
    background: #fff;
    width: 250px;
    height: 300px;
    text-align: center;
    border-radius: 2%;
    box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.19), 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

.card img {
    width: 100%;
    margin-bottom: 20px;
}

.card h3 {
    color: #0468bf;
    padding-bottom: 10px;
}

.card p {
    font-weight: 600;
    line-height: 1.5em;
}

.right-margin {
    margin-right: 20px;
}

  /*** footer ***/
  footer {
    height: 100px;
  }

  .social-networks {
    text-align: center;
  }

  .social-networks > li {
    display: inline-block;
  }

  .social-networks i {
    font-size: 1.5rem;
    color: #3a3a3a;
    padding:1.5rem;
  }