@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2, h3, h4, #menu li{
    font-family: 'Lora', serif;
}

#logo {
    font-family: 'Montserrat', sans-serif;
    color: #252522;
    font-size: 64px;
    float: left;
}

/** header navigation links **/

a {
    text-decoration: none;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    float: right;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    list-style-type: none;
    margin-right: 2rem;
    text-transform: uppercase;
    display: inline;
}

#menu a, #menu a:visited{
    color: inherit;
}

#menu a:hover, .active{
    font-weight: 600;
}

.active {
    border-bottom: 1px solid #e6e6e6;
}

/** hero image **/
#hero-image {
    height: 960px;
    width: 100%;
    background: url('../images/women-practicing.jpg') no-repeat center center;
}