@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #221f20;
    background-color: #f4f5f6;
}

.center {
    text-align: center;
}

/* headings and logo */
#header-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1, h2, h3, h4, #menu li{
    font-family: 'Lora', serif;
}

h1, h2, h3, h4{
    letter-spacing: 0.15em;
    line-height: 2em;
}

#logo {
    font-family: 'Allura', cursive;
    color: #252522;
    font-size: 3rem;
    float: left;
}

/** header navigation links **/
#menu {
    font-size: 1rem;
    letter-spacing: .1rem;
    float: right;
    padding-right: 20px;
}

#menu, #logo {
    line-height: 75px;
}

#menu ul {
  display: flex;
  gap: 1.5rem;
}

#menu li {
    list-style-type: none;
}

#menu a, #menu a:visited{
    color: inherit;
}

#menu a:hover, .active{
    font-weight: 600;
}

a {
    text-decoration: none;
}

.active {
    border-bottom: 1px solid #818080;
}

/** hero image section **/
#hero-outer {
    clear: both;
    height: 100%;
    background-color: #383838;
}

#hero-image {
    height: 100%;
    background: url('../images/pexels-marcus-aurelius.jpg') no-repeat center center /cover;
}

/** Club Ethos **/
.ethos {
    display: flex;
    margin: 100px auto;
    justify-content: center;
    gap: 50px;
}

.card {
    background: #fff;
    width: 300px;
    height: 400px;
    text-align: center;
    border-radius: 2%;
    box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.19), 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

.card img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 2% 2% 0 0;
}

.card h3 {
    color: #0468bf;
    padding-bottom: 10px;
}

.card p {
    font-weight: 600;
    line-height: 1.5em;
    padding: 20px;
}

.right-margin {
    margin-right: 20px;
}

/** testimonial and carousel **/
.testimonial {
    padding: 5px 0;
}

.round-thumbnail {
    border-radius: 50%;
    height: 100px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.carousel {
    width: 40%;
    margin: 15px auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 84px 120px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.testimonial-text {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.testimonial-text i.fas {
    font-size: .9rem;
}

.testimonial-author {
    font-size: 0.9rem;
    text-align: right;
    color: #0468bf;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.star-checked {
    color: orange;
}

.testimonial-btn {
    background-color: #ffffff;
    border:none;
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-left {
    left: 0;
    transform: translate(-50%, -50%);
}

.btn-right {
    right: 0;
    transform: translate(50%, -50%);
}

.btn-icon {
    height: 24px;
    width: 24px;
    stroke: #221f20;
}

/** footer section **/
footer {
    margin-top: 50px;
    background-color: #383838;
    text-align: center;
    font-size: 2rem;
    padding: 20px 0;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline-block;
    margin-right: 50px;
}

footer a:link, footer a:visited, footer a:active {
    color: #ec7545
}